*~
aclocal.m4
autom4te.cache/*
compile
config.*
configure
depcomp
install.sh
m4/*
Makefile
Makefile.in
missing
OgreApp
*.o
ogre.cfg
Ogre.log
stamp-h1
.deps/
.libs/
CEGUI.log
install-sh
libtool
ltmain.sh
